<div class="page-header">
  <h1><%=t '.title', :default => 'ログイン' %></h1>
</div>

<!-- TODO: ログインブロック用のcssクラスを作ろう -->
<%= simple_form_for @form, url: :session, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :email %>
  <%= f.input :password %>

  <%= f.button :submit, 'ログイン', :class => 'btn-primary' %>
<% end %>
