<%- model_class = FiscalYear -%>
<div class="page-header">
  <h1><%=t '.title', default: [:'helpers.titles.change', 'Change %{model}'], model: model_class.model_name.human.titleize %></h1>
</div>

<%= simple_form_for @change_default_form,
        url: change_default_path,
        wrapper: 'horizontal_form',
        html: { class: 'form-horizontal' } do |f| %>
  <%= f.input :fiscal_year_id,
          label: '会計年度',
          collection: @fiscal_years,
          label_method: :select_box_name,
          value_method: :id,
          include_blank: false,
          input_wrapper_html: { class: 'col-xs-7' } %>
  <%= f.input :journal_date,
          label: '取引日',
          input_wrapper_html: { class: 'col-xs-3' },
          as: :date_picker %>
  <div class='form-group'>
    <label class='col-sm-3 control-label'></label>
    <div class='col-xs-5'>
      <%= f.submit '変更', class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>
