<%= simple_form_for @user, wrapper: "horizontal_form", :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name, input_wrapper_html: { class: "col-xs-5" } %>
  <%= error_span(@user[:name]) %>
  <% if f.object.new_record? %>
    <%= f.input :password, input_wrapper_html: { class: "col-xs-5" } %>
    <%= error_span(@user[:password]) %>
  <% end %>
  <%= f.input :email, input_wrapper_html: { class: "col-xs-5" } %>
  <%= error_span(@user[:email]) %>
  <%= f.input :suspended %>
  <%= error_span(@user[:suspended]) %>
  <%= f.input :admin_user %>
  <%= error_span(@user[:admin_user]) %>

  <div>&nbsp;</div>
  <div>
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")), users_path, :class => 'btn btn-default' %>
  </div>
<% end %>
