<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">Flaccoer</a>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <% if current_user && fiscal_years.present? %>
          <li><%= link_to "年度の選択", "/change_default"  %></li>
        <% end %>
        <% if current_user && current_fiscal_year %>
          <li><%= link_to "仕訳帳", "/journals"  %></li>
          <li>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">元帳<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "総勘定元帳", "/ledger"  %></li>
              <li><%= link_to "合計残高試算表", "/balance_sheet"  %></li>
            </ul>
          </li>
          <li>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">科目と残高<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "勘定科目", "/subject"  %></li>
              <li><%= link_to "期首残高", "/balance"  %></li>
              <li><%= link_to "通期予算", "/badget"  %></li>
              <li><%= link_to "帳票位置の設定", "/locations"  %></li>
            </ul>
          </li>
        <% end %>
        <% if current_user %>
          <li>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">設定<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "パスワードの変更", "/security"  %></li>
              <li><%= link_to "会計年度の設定", "/fiscal_years"  %></li>
              <% if current_user.admin_user? %>
                <li><%= link_to "ユーザ管理", "/users"  %></li>
              <% end %>
            </ul>
          </li>
          <li><%= link_to "ログアウト", "/login"  %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
