<h3>合計残高試算表</h3>
<%= simple_form_for @balance_sheet_form, url: :balance_sheet_list do |f| %>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-3 col-xs-12'><%= f.input :date_from, as: :date_picker %></div>
      <div class='col-sm-3 col-xs-12'><%= f.input :date_to, as: :date_picker %></div>
    </div>
    <div class='row'>&nbsp;</div>
    <div class='row'>
      <div class='col-sm-12 col-xs-12'>
        <%= link_to '表示', '#', class: 'btn btn-primary', id: 'balance-sheet-button' %>
        <%= link_to 'Excel(貸借)', '#', class: 'btn btn-info balance-sheet-excel-button', id: 'balance-sheet-excel-bs-button' %>
        <%= link_to 'Excel(損益)', '#', class: 'btn btn-info balance-sheet-excel-button', id: 'balance-sheet-excel-pl-button' %>
      </div>
    </div>
  </div>
<% end %>
