<table class='table table-striped condensed-table journal-list-table'>
  <thead>
    <tr>
      <th>日付</th>
      <th colspan='2'>相手科目</th>
      <th>摘要</th>
      <th class='price'>借方金額</th>
      <th class='price'>貸方金額</th>
      <th class='price'>残高</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>ー繰越残高ー</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td class='price'><%= @carried_balance.jpy_comma %></td>
    </tr>
    <% @ledger_list.each do |list| %>
    <tr>
      <td><%= list.journal_date.strftime('%Y-%m-%d') %></td>
      <td><%= list.ledger_subject.code %></td>
      <td><%= list.ledger_subject.name %></td>
      <td><%= list.comment %></td>
      <td class='price'><%= list.price_debit.jpy_comma %></td>
      <td class='price'><%= list.price_credit.jpy_comma %></td>
      <td class='price'><%= list.balance.jpy_comma %></td>
    </tr>
    <% end %>
  </tbody>
</table>
