<%= simple_form_for @watch_user, wrapper: "horizontal_form", :html => { :class => 'form-horizontal' } do |f| %>
  <% if f.object.new_record? %>
    <%= f.input :user_email, label: '閲覧者のe-mail', input_wrapper_html: { class: "col-sm-5" } %>
    <%= f.error_span(:user) %>
    <%= f.input :user, readonly: true, input_wrapper_html: { class: "col-sm-5" } %>
    <%= f.error_span(:user) %>
  <% else %>
    <%= f.input :user, readonly: true, input_wrapper_html: { class: "col-sm-5" } %>
  <% end %>
  <%= f.input :can_modify %>

  <div>&nbsp;</div>
  <div>
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")), watch_users_path, :class => 'btn btn-default' %>
  </div>
<% end %>
