<%- model_class = FiscalYear -%>
<%- model_name = model_class.model_name.human.titleize -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.maintenance', '%{model}'], :model => model_name %></h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>利用状況</th>
      <th>登録件数</th>
      <th><%=t '.export', :default => t("helpers.export") %></th>
      <th colspan="2"><%=t '.import', :default => t("helpers.import") %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @maintenance_items.each do |item| %>
    <tr>
      <td><%= item[:title] %></td>
      <td><%= "#{item[:count]}件" %></td>
      <td>
        <% if item[:any_records] %>
          <%= link_to \
            t('.export', default: t('helpers.export')),
            item[:export_path],
            method: :get,
            data: { confirm: t('.confirm', default: t('helpers.links.confirm', default: 'Are you sure?')) },
            class: 'btn btn-sm btn-primary'
          %>
        <% end %>
      </td>
      <%= form_for @upload_file_form, url: item[:import_url] do |f| %>
        <td>
          <%= f.file_field :upload_file %>
        </td>
        <td>
          <%= f.submit "インポート", class: 'btn btn-sm btn-warning' %>
        </td>
      <%end %>
      <td>
        <% if item[:can_delete] %>
          <%= link_to \
            t('.destroy', default: t('helpers.links.destroy')),
              item[:delete_path],
              method: :delete,
              data: { confirm: t('.confirm', default: t('helpers.links.confirm', default: 'Are you sure?')) },
              class: 'btn btn-sm btn-danger'
          %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= link_to t('.back', default: t("helpers.links.back")), fiscal_years_path, class: 'btn btn-default btn-lg' %>

