<%- model_class = FiscalYear -%>
<%= simple_form_for @fiscal_year, wrapper: "horizontal_form", :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :for_copy, as: :hidden %>
  <%= f.input :with_carry, as: :hidden %>
  <%= f.input :base_fiscal_year_id, as: :hidden %>
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-xs-12"><%= model_class.human_attribute_name(:title) %></div>
      <div class="col-sm-9 col-xs-12">
        <%= f.input :title, label: false %>
        <%= error_span(@fiscal_year[:title]) %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 col-xs-12"><%= model_class.human_attribute_name(:organization_name) %></div>
      <div class="col-sm-9 col-xs-12">
        <%= f.input :organization_name, label: false %>
        <%= error_span(@fiscal_year[:organization_name]) %>
      </div>
    </div>
    <% if f.object.new_record? && !f.object.for_copy %>
    <div class="row">
      <div class="col-sm-3 col-xs-12"><%= model_class.human_attribute_name(:subject_template_type) %></div>
      <div class="col-sm-9 col-xs-12">
        <%= f.association :subject_template_type, label: false %>
      </div>
    </div>
    <% end %>
    <div class="row">
      <div class="col-sm-3 col-xs-12"><%= model_class.human_attribute_name(:date_from) %></div>
      <div class="col-sm-9 col-xs-12">
        <%= f.input :date_from, label: false, as: :date_picker %>
        <%= error_span(@fiscal_year[:date_from]) %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 col-xs-12"><%= model_class.human_attribute_name(:date_to) %></div>
      <div class="col-sm-9 col-xs-12">
        <%= f.input :date_to, label: false, as: :date_picker %>
        <%= error_span(@fiscal_year[:date_to]) %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 col-xs-12">&nbsp;</div>
      <div class="col-sm-9 col-xs-12"><%= f.input :locked %></div>
    </div>
    <div class="row">
      <div class="col-sm-3 col-xs-12"><%= model_class.human_attribute_name(:tab_type) %></div>
      <div class="col-sm-9 col-xs-12"><%= f.select :tab_type, @tab_types.map { |p| [p[:name], p[:id]] } %></div>
    </div>
    <div class="row">
      <div class="col-sm-3 col-xs-12">&nbsp;</div>
      <div class="col-sm-9 col-xs-12"><%= f.input :list_desc %></div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <%= f.button :submit, :class => 'btn-primary' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")), fiscal_years_path, :class => 'btn btn-default' %>
      </div>
    </div>
  </div>
<% end %>
